bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store

.vs/

PGI_Migracion_Monolitos/Uploads/

*.zip
TransformadorService/MicroserviciosGenerados/
ContainerizationService/.idea/.idea.ContainerizationService.dir/.idea/

RefactorizacionService/Monolithos/
